In [1]:
import pandas as pd

In [2]:
#Read CSV file
df = pd.read_csv('../data/artist_top10_track_raw.csv')
df.shape

(80, 8)

In [3]:
type(df)

pandas.core.frame.DataFrame

In [4]:
#Review key in dataframe
df.keys()

Index(['track_rank', 'album', 'artist', 'track_name', 'popularity',
       'track_in_album', 'duration', 'follower'],
      dtype='object')

In [5]:
#Format Duration  
df['duration']
format_time = df['duration'].apply(lambda x: f'{x//60000}:{(x%60000)//1000:02}')
format_time

0     3:56
1     3:43
2     4:18
3     4:31
4     5:10
      ...
75    3:49
76    4:06
77    4:54
78    5:20
79    4:37
Name: duration, Length: 80, dtype: object

In [6]:
#Add key to dataframe 
df["duration_formatted"] = format_time
df.keys()

Index(['track_rank', 'album', 'artist', 'track_name', 'popularity',
       'track_in_album', 'duration', 'follower', 'duration_formatted'],
      dtype='object')

In [7]:
#Export csv file
df.to_csv('../data/artist_top10_track_clean.csv', index = False)
df

,track_rank,album,artist,track_name,popularity,track_in_album,duration,follower,duration_formatted
0,1,PUN,PUN,ที่เดิม,71,9,236062,610084,3:56
1,2,PUN,PUN,I Just Wanna Know,69,1,223500,610084,3:43
2,3,Living Death,PUN,Living Death,68,1,258823,610084,4:18
3,4,PUN,PUN,DAY ONE,65,7,271500,610084,4:31
4,5,Kryptonite,PUN,Kryptonite,64,1,310736,610084,5:10
...,...,...,...,...,...,...,...,...,...
75,6,LOVE ALL SERVE ALL,Fujii Kaze,Garden,65,6,229333,4266974,3:49
76,7,Hana,Fujii Kaze,Hana,64,1,246699,4266974,4:06
77,8,masshiro (pure white),Fujii Kaze,masshiro (pure white),64,1,294140,4266974,4:54
78,9,HELP EVER HURT NEVER,Fujii Kaze,Nan-Nan,59,1,320640,4266974,5:20
79,10,LOVE ALL SERVE ALL,Fujii Kaze,Tabiji,57,11,277026,4266974,4:37

In [8]:
from dotenv import load_dotenv
import os
load_dotenv()
DATABASE_URL = f"postgresql://{os.getenv('DB_USER')}:{os.getenv('DB_PASS')}@{os.getenv('DB_HOST')}:{os.getenv('DB_PORT')}/{os.getenv('DB_NAME')}"
DATABASE_URL

'postgresql://itversity_retail_user:itversity@localhost:5432/Spotify_Top_10_Tracks'

In [10]:
#Load data into database(postgres)
df.to_sql(name = 'top_tracks',
          con = DATABASE_URL,
          if_exists = 'append',
          index = False
          )

80